/* @import must be at top of file, otherwise CSS will not work */
@import url("//hello.myfonts.net/count/2b4021");
@font-face {
  font-family: 'PAGRevolucion';
  src: url('webfonts/2B4021_0_0.eot');
  src: url('webfonts/2B4021_0_0.eot?#iefix') format('embedded-opentype'), url('webfonts/2B4021_0_0.woff') format('woff'), url('webfonts/2B4021_0_0.ttf') format('truetype'); }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before, .clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
  *zoom: 1; }

.full-relative {
  height: 100%;
  width: 100%;
  position: relative; }

.full-absolute {
  height: 100%;
  width: 100%;
  position: absolute; }

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: PAGRevolucion, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2), -1px -1px 2px rgba(0, 0, 0, 0.2); }

body {
  background-color: #000000; }

#pixi-view {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 1;
  width: 100%;
  height: 100%; }
  #pixi-view.front {
    z-index: 10; }
  #pixi-view.middle {
    z-index: 4; }

#assetLoader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: #08090b; }
  #assetLoader div.bar {
    background-color: #C2001B;
    width: 0;
    height: 15px;
    position: absolute;
    top: 0;
    left: 0; }
    #assetLoader div.bar div.text {
      position: absolute;
      top: 100%;
      right: 6px;
      color: white;
      font-size: 24px; }

#passwordScreen {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 101;
  background-color: #08090b;
  color: white;
  font-size: 20px; }
  #passwordScreen .content {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }

/* ************************* Imports ************************** */
#header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 6; }
  #header > div.empty-space {
    padding-bottom: 6.73499%; }
  #header div.header-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  #header .logo {
    background: url('../assets/img/logo.png') center center no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
    width: 15.73939%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -3px;
    margin: auto; }
    #header .logo > div.empty-space {
      padding-bottom: 48.37209%; }
  #header .in-theaters {
    background: url('../assets/img/in-theaters.png') center center no-repeat;
    width: 191px;
    height: 27px;
    position: absolute;
    left: 20px;
    top: 0;
    bottom: 15px;
    margin: auto; }
  #header div.social {
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding-right: 10px; }
    #header div.social > a {
      display: block;
      color: white;
      text-decoration: none;
      background-color: #e22123;
      margin-right: 10px;
      border-radius: 5px;
      padding: 5px;
      padding-top: 2px;
      float: left; }
    #header div.social div.fb-like {
      display: block;
      float: left;
      margin-top: 3px;
      margin-right: 10px; }

#footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 6; }
  #footer > div.empty-space {
    padding-bottom: 3.29429%; }
  #footer div.footer-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  #footer a.volume {
    display: block;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 1.46413%;
    margin: auto;
    background: url('../assets/img/icons/volume.png') center left no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
    width: 1.75695%; }
    #footer a.volume > div.empty-space {
      padding-bottom: 100%; }
    #footer a.volume svg {
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0; }
  #footer div.counter {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: 100%;
    padding-bottom: 18px; }
    #footer div.counter .dot {
      width: 30px;
      height: 30px;
      position: relative;
      display: block;
      float: left;
      margin-right: 25px;
      border-radius: 30px;
      -webkit-box-shadow: 0px 0px 15px 1px rgba(255, 255, 255, 0.8);
      box-shadow: 0px 0px 15px 1px rgba(255, 255, 255, 0.8);
      background-color: rgba(0, 0, 0, 0.65); }
      #footer div.counter .dot:last-child {
        margin-right: 0; }
      #footer div.counter .dot div.number {
        top: 0;
        left: 0;
        z-index: 2;
        text-align: center;
        color: white;
        font-size: 19px;
        padding-top: 1px; }
      #footer div.counter .dot div.fill {
        background-color: #ea2424;
        border-radius: 30px;
        top: 0;
        left: 0;
        z-index: 1;
        -webkit-transform-origin: 50% 50%;
        -ms-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
        -webkit-transition: -webkit-transform 0.25s ease-in-out;
        transition: transform 0.25s ease-in-out; }
      #footer div.counter .dot.active div.fill {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1); }

#content {
  z-index: 2; }
  #content div.pages-ctn {
    z-index: 5; }
    #content div.pages-ctn div.page-nav {
      position: absolute;
      top: 70%;
      left: 50%;
      z-index: 11;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      -webkit-backface-visibility: hidden;
      padding-top: 20px;
      padding-bottom: 10px; }
      #content div.pages-ctn div.page-nav a {
        color: #ea2424;
        text-decoration: none;
        text-align: center;
        font-size: 30px;
        display: none; }
        #content div.pages-ctn div.page-nav a.active {
          display: block; }
      #content div.pages-ctn div.page-nav a.next {
        background: url('../assets/img/button.png') center center no-repeat;
        -webkit-background-size: contain;
        background-size: contain;
        width: 175px;
        height: 56px;
        padding-top: 6px; }
      #content div.pages-ctn div.page-nav a.finish-send {
        background: url('../assets/img/icons/send-btn.png') center center no-repeat;
        width: 240px;
        height: 53px;
        line-height: 43px; }
      #content div.pages-ctn div.page-nav div.skip {
        position: relative;
        height: 30px;
        width: 170px;
        margin: 0 auto;
        margin-top: 13px;
        overflow: hidden; }
      #content div.pages-ctn div.page-nav a.skip {
        display: block;
        color: black;
        line-height: 27px;
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 7px;
        font-size: 18px;
        text-shadow: none;
        position: absolute;
        left: 0;
        bottom: 0;
        height: 30px;
        width: 170px;
        -webkit-backface-visibility: hidden; }

#intro-view {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50; }
  #intro-view.inactive {
    display: none; }
  #intro-view div.viewport {
    width: 100%;
    height: 50%;
    z-index: 0;
    position: absolute;
    left: 0; }
    #intro-view div.viewport.top {
      top: 0; }
      #intro-view div.viewport.top > div.background {
        bottom: 0;
        background-image: url('../assets/img/intro-top.png');
        background-position: bottom center; }
        #intro-view div.viewport.top > div.background > div.empty-space {
          padding-bottom: 33.53846%; }
    #intro-view div.viewport.btm {
      bottom: 0; }
      #intro-view div.viewport.btm > div.background {
        top: 0;
        background-image: url('../assets/img/intro-btm.png');
        background-position: top center; }
        #intro-view div.viewport.btm > div.background > div.empty-space {
          padding-bottom: 33.4359%; }
    #intro-view div.viewport > div {
      position: absolute;
      background-color: #08090b; }
      #intro-view div.viewport > div.left {
        height: 100%;
        left: 0; }
      #intro-view div.viewport > div.right {
        height: 100%;
        right: 0; }
      #intro-view div.viewport > div.btm {
        width: 100%;
        bottom: 0; }
      #intro-view div.viewport > div.top {
        width: 100%;
        top: 0; }
    #intro-view div.viewport div.background {
      position: absolute;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      width: 0;
      -webkit-background-size: contain;
      background-size: contain;
      background-repeat: no-repeat;
      background-color: initial; }
  #intro-view div.begin-screen {
    position: absolute;
    top: 50%;
    z-index: 3;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
    color: white;
    font-size: 37px;
    line-height: 37px;
    width: 100%; }
    #intro-view div.begin-screen a.begin {
      display: block;
      background: url('../assets/img/button.png') center center no-repeat;
      width: 200px;
      height: 63px;
      line-height: 52px;
      color: #ea2424;
      text-decoration: none;
      margin: 0 auto;
      margin-top: 45px;
      opacity: 0;
      -webkit-backface-visibility: hidden; }
    #intro-view div.begin-screen > div.line {
      opacity: 0;
      -webkit-transform: translateX(5%);
      -ms-transform: translateX(5%);
      transform: translateX(5%); }

div.page {
  position: absolute;
  right: 0;
  top: 0;
  padding-top: 10%;
  z-index: 10;
  margin: auto;
  width: 54%;
  max-width: 679px;
  left: 200%;
  visibility: hidden; }
  div.page.active {
    left: 0;
    visibility: visible; }

div.page.name {
  padding-top: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }
  div.page.name .input-wrapper {
    height: 95px;
    width: 100%; }
  div.page.name div.title {
    position: absolute;
    bottom: 100%;
    width: 100%;
    text-align: center;
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 53px;
    color: white;
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2), -1px -1px 2px rgba(0, 0, 0, 0.2); }
  div.page.name input[type="text"] {
    border: 0px solid;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(179, 209, 233, 0.35);
    border-radius: 15px;
    font-size: 20px;
    text-align: center;
    -webkit-box-shadow: inset 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0px 0px 8px 0px rgba(0, 0, 0, 0.2); }
    div.page.name input[type="text"]:focus {
      outline: 0; }
    div.page.name input[type="text"]::-webkit-input-placeholder {
      /* WebKit browsers */
      color: #FFFFFF; }
    div.page.name input[type="text"]:-moz-placeholder {
      /* Mozilla Firefox 4 to 18 */
      color: #FFFFFF;
      opacity: 1; }
    div.page.name input[type="text"]::-moz-placeholder {
      /* Mozilla Firefox 19+ */
      color: #FFFFFF;
      opacity: 1; }
    div.page.name input[type="text"]:-ms-input-placeholder {
      /* Internet Explorer 10+ */
      color: #FFFFFF; }
  div.page.name div.placeholder {
    position: absolute;
    top: 46%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: white;
    z-index: -1;
    font-size: 28px; }

div.question {
  color: white; }
  div.question div.copy {
    text-align: center;
    font-size: 35px;
    margin-bottom: 35px;
    line-height: 36px; }
  div.question div.options {
    width: 100%; }
  div.question div.option {
    float: left;
    width: 32.84242%;
    padding-left: 7.36377%;
    padding-right: 7.36377%;
    padding-top: 4.41826%;
    padding-bottom: 4.41826%; }
    div.question div.option .full-relative div.content {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
    div.question div.option .full-relative > .empty-space {
      padding-bottom: 100%; }
    div.question div.option input {
      display: none; }
    div.question div.option label {
      display: block;
      cursor: pointer;
      z-index: 5; }
    div.question div.option div.background {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 1;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      background: no-repeat center center;
      -webkit-background-size: contain;
      background-size: contain;
      background-image: url('../assets/img/150x150.gif'); }
    div.question div.option div.text {
      position: absolute;
      left: 0;
      bottom: 100%;
      width: 100%;
      text-align: center;
      text-transform: uppercase;
      font-size: 18px;
      padding-bottom: 4px; }
    div.question div.option div.box-shadow {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      height: 98%;
      width: 98%;
      border-radius: 10px;
      -webkit-box-shadow: none;
      box-shadow: none;
      -webkit-backface-visibility: hidden;
      -webkit-transition: -webkit-box-shadow 0.2s ease-in-out;
      transition: box-shadow 0.2s ease-in-out; }
    div.question div.option input[type=radio]:checked ~ div.box-shadow {
      -webkit-box-shadow: 2px 2px 15px 0px rgba(255, 255, 255, 0.8), -2px -2px 15px 0px rgba(255, 255, 255, 0.8);
      box-shadow: 2px 2px 15px 0px rgba(255, 255, 255, 0.8), -2px -2px 15px 0px rgba(255, 255, 255, 0.8); }

/* ************************ Canned Questions ************************* */
div.question.canned div.copy {
  margin-bottom: 70px; }
div.question.canned div.option {
  width: 73.6377%;
  padding: 0;
  float: none;
  margin: 0 auto;
  margin-bottom: 3.97644%; }
  div.question.canned div.option:last-child {
    margin-bottom: 0; }
  div.question.canned div.option .full-relative > .empty-space {
    padding-bottom: 10.6%; }
  div.question.canned div.option div.background {
    background-image: url('../assets/img/icons/canned-btn.png'); }
  div.question.canned div.option div.text {
    color: white;
    font-size: 25px;
    text-shadow: none;
    z-index: 2;
    bottom: auto;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 0; }

/* **************************** Specifics **************************** */
div.question.character-select div.option div.background, div.question.favorite-sport div.option div.background, div.question.favorite-color div.option div.background, div.question.favorite-food div.option div.background {
  width: 271.08434%;
  height: 240.96386%; }

#dusty ~ div.background {
  background-image: url('../assets/img/icons/dusty.png'); }

#bladeranger ~ div.background {
  background-image: url('../assets/img/icons/blade_ranger.png'); }

#cabbie ~ div.background {
  background-image: url('../assets/img/icons/cabbie.png'); }

#dipper ~ div.background {
  background-image: url('../assets/img/icons/dipper.png'); }

#windlifter ~ div.background {
  background-image: url('../assets/img/icons/windlifter.png'); }

#team ~ div.background {
  background-image: url('../assets/img/icons/the_team.png'); }

#red ~ div.background {
  background-image: url('../assets/img/icons/red.png'); }

#blue ~ div.background {
  background-image: url('../assets/img/icons/blue.png'); }

#yellow ~ div.background {
  background-image: url('../assets/img/icons/broccoli.png'); }

#orange ~ div.background {
  background-image: url('../assets/img/icons/orange.png'); }

#green ~ div.background {
  background-image: url('../assets/img/icons/green.png'); }

#purple ~ div.background {
  background-image: url('../assets/img/icons/purple.png'); }

#pizza ~ div.background {
  background-image: url('../assets/img/icons/pizza.png'); }

#icecream ~ div.background {
  background-image: url('../assets/img/icons/icecream.png'); }

#broccoli ~ div.background {
  background-image: url('../assets/img/icons/broccoli.png'); }

#frenchfries ~ div.background {
  background-image: url('../assets/img/icons/fries.png'); }

#chickennuggets ~ div.background {
  background-image: url('../assets/img/icons/nuggets.png'); }

#pbj ~ div.background {
  background-image: url('../assets/img/icons/pbj.png'); }

#football ~ div.background {
  background-image: url('../assets/img/icons/football.png'); }

#baseball ~ div.background {
  background-image: url('../assets/img/icons/baseball.png'); }

#hockey ~ div.background {
  background-image: url('../assets/img/icons/hockey.png'); }

#swimming ~ div.background {
  background-image: url('../assets/img/icons/swim_dive.png'); }

#soccer ~ div.background {
  background-image: url('../assets/img/icons/soccer.png'); }

#racing ~ div.background {
  background-image: url('../assets/img/icons/racing.png'); }

#response {
  display: none;
  z-index: 5;
  top: 0;
  left: 0;
  padding-top: 200px;
  text-align: center;
  color: white; }
  #response #card-wrap {
    width: 768px;
    height: 386px;
    left: 50%;
    position: absolute;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    padding: 63px 40px 0 40px;
    color: #000;
    text-align: left; }
    #response #card-wrap #letterbg {
      position: absolute;
      top: 0;
      left: 0; }
    #response #card-wrap #card-greeting {
      font-size: 35px;
      margin-bottom: 15px; }
      #response #card-wrap #card-greeting span {
        text-transform: uppercase; }
    #response #card-wrap #card-body {
      font-family: 'Helvetica';
      font-size: 15px;
      line-height: 18px;
      margin-bottom: 15px; }
    #response #card-wrap #card-sincerely {
      text-align: center; }
      #response #card-wrap #card-sincerely span {
        text-transform: capitalize; }
    #response #card-wrap #card-from {
      text-align: center;
      font-size: 35px; }
    #response #card-wrap #printversion {
      background: url('../assets/img/print.png');
      position: absolute;
      left: 45px;
      bottom: 30px;
      height: 28px;
      width: 177px;
      display: block; }
    #response #card-wrap #sendmore {
      background: url('../assets/img/sendMore.png');
      position: absolute;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      height: 51px;
      width: 300px;
      display: block;
      bottom: -75px; }

#response-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: center center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-color: white;
  display: none; }
  #response-bg.dusty {
    background-image: url('../assets/img/response_bg_dusty.jpg'); }
  #response-bg.cabbie {
    background-image: url('../assets/img/response_bg_cabbie.jpg'); }
  #response-bg.bladeranger {
    background-image: url('../assets/img/response_bg_blade.jpg'); }
  #response-bg.dipper {
    background-image: url('../assets/img/response_bg_dipper.jpg'); }
  #response-bg.windlifter {
    background-image: url('../assets/img/response_bg_windlifter.jpg'); }
  #response-bg.team {
    background-image: url('../assets/img/response_bg_team.jpg'); }

@media print {
  #response-bg {
    background: #fff;
    background-image: none !important; }
  #printversion, #sendmore, .social, .volume {
    display: none !important; } }
