/.DS_Store
/.idea/
/assets/.DS_Store
/assets/img/.DS_Store
/assets/img/icons/.DS_Store
/assets/introVideo/.DS_Store
/assets/spritesheets/.DS_Store
/assets/spritesheets/dusty/.DS_Store
/assets/spritesheets/dusty3/.DS_Store
/assets/spritesheets/windlifter/.DS_Store
/css/.DS_Store
/js/.DS_Store
/js/lib/.DS_Store
/js/src/.DS_Store