


#content {
    z-index: 2;

    div.backgrounds {
        top: 0;
        left: 0;

        z-index: 0;

        div.background {
            height: 100%;

            $width: 106%;
            $translateX: $width * -1/100;

            width: $width;
            transform: translate3d($translateX, 0, 0);

            position: absolute;
            top: 0;
            left: 0;


            background: bottom center no-repeat;
            background-size: cover;

            &.back {
                z-index: 0;
                background-image: url('../assets/img/site_bg.jpg');
            }
            &.middle {
                z-index: 1;
                background-image: url('../assets/img/midground.png');
            }
            &.front {
                z-index: 2;
                background-image: url('../assets/img/foreground_trees.png');
            }
        }
    }

    div.pages-ctn {
        z-index: 2;

        $red: #ea2424;

        div.page-nav {
            position: absolute;
            top: 70%;
            left: 50%;

            z-index: 11;

            transform: translateX(-50%);

            a {

                color: $red;
                text-decoration: none;

                text-align: center;
                font-size: 30px;

                display: none;
                &.active {
                    display: block;
                }
            }

            //next button
            a.next {
                background: url('../assets/img/button.png') center center no-repeat;

                width: 200px;
                height: 63px;
                line-height: 63px;
            }

            a.finish-send {
                background: url('../assets/img/icons/send-btn.png') center center no-repeat;

                width: 240px;
                height: 53px;
                line-height: 53px;
            }
        }
    }
}