


#content {
    z-index: 2;

    .pages-ctn {
        z-index: 2;

        a.next {
            display: block;

            position: absolute;
            top: 70%;
            left: 50%;

            transform: translateX(-50%);

            color: red;
            text-decoration: none;

            background: url('../assets/img/button.png') center center no-repeat;

            width: 200px;
            height: 63px;
            line-height: 63px;

            text-align: center;
            font-size: 30px;
        }

    }
}