


#content {
    z-index: 2;
    overflow: hidden;

    > div.full-absolute {
        top: 0;
        left: 0;
    }

    div.pages-ctn {
        z-index: 5;

        $red: #ea2424;

        div.page-nav {
            position: absolute;
            top: 70%;
            left: 50%;

            z-index: 11;

            transform: translateX(-50%);
            -webkit-backface-visibility: hidden;

            padding-top: 20px;
            padding-bottom: 10px;

            a {
                color: $red;
                text-decoration: none;

                text-align: center;
                font-size: 30px;

                position: relative;
                margin : 0 auto;

                display: none;
                &.active {
                    display: block;
                }

                > div.text {
                    position: absolute;
                    top: 46%;
                    left: 0;

                    transform: translateY(-50%);

                    width: 100%;
                }
            }

            //next button
            a.next {
                background: url('../assets/img/button.png') center center no-repeat;
                background-size: contain;

                width: 175px;

                > div.empty-space {
                    padding-bottom: percentage(56/175);
                }
            }

            a.finish-send {
                background: url('../assets/img/icons/send-btn.png') center center no-repeat;

                width: 240px;
                height: 53px;
                line-height: 43px;

                > div.empty-space {
                    padding-bottom: percentage(53/240);
                }
            }

            div.skip {
                position: relative;

                width: 170px;

                margin: 0 auto;
                margin-top: 13px;

                overflow: hidden;

                > div.empty-space {
                    padding-bottom: percentage(30/170);
                }
            }

            a.skip {
                color: black;

                line-height: 27px;

                background-color: rgba(255, 255, 255, 0.3);

                border-radius: 7px;
                font-size: 18px;
                text-shadow: none;

                position: absolute;
                left: 0;
                bottom: 0;

                height: 30px;
                width: 170px;

                -webkit-backface-visibility: hidden;

            }
        }
    }
}