

#intro-view {
    height: 100%;
    width: 100%;

    position: absolute;
    top: 0;
    left: 0;

    z-index: 50;

    &.inactive {
        display: none;
    }

    $videoWidth: 760px;
    $videoHeight: 430px;

    div.viewport {
        position: absolute;
        left: 0;

        height: 50%;
        width: 100%;

        overflow: hidden;

        z-index: 2;

        &.top {
            top: 0;

            div.background-color {
                bottom: 0;

            }
        }
        &.bottom {
            bottom: 0;

            div.background-color {
                top: 0;
            }
        }

        div.background-color {
            position: absolute;
            height: 100%;

            > div {
                background-color: black;
            }

            &.top {
                width: 100%;
                left: 0;

                padding-bottom: $videoHeight/2;
            }
            &.bottom {
                width: 100%;
                left: 0;

                padding-top: $videoHeight/2;
            }
            &.left {
                width: 50%;
                left: 0;

                padding-right: $videoWidth/2;
            }
            &.right {
                width: 50%;
                right: 0;

                padding-left: $videoWidth/2;
            }
        }
    }

    div.video-ctn {
        width: $videoWidth;

        position: absolute;
        margin: auto;

        z-index: 1;

        top: 50%;
        left: 0;
        right: 0;

        transform: translateY(-50%);

        > div.empty-space {
            padding-bottom: percentage($videoHeight/$videoWidth);
        }

        > video {
            position: absolute;
            top: 0;
            left: 0;

            height: 100%;
            width: 100%;

            display: none;
        }
    }
}