

#intro-view {
    height: 100%;
    width: 100%;

    position: absolute;
    top: 0;
    left: 0;

    z-index: 50;

    &.inactive {
        display: none;
    }


    div.begin-screen {
        position: absolute;
        top: 50%;
        z-index: 3;
        transform: translateY(-50%);

        text-align: center;
        color: white;
        font-size: 37px;
        line-height: 37px;

        width: 100%;

        a.begin {
            display: block;

            background: url('../assets/img/button.png') center center no-repeat;
            background-size: contain;
            width: 200px;
            line-height: 52px;

            color: #ea2424;
            text-decoration: none;

            margin: 0 auto;
            margin-top: 45px;

            opacity: 0;

            -webkit-backface-visibility: hidden;

            position: relative;

            > div.empty-space {
                padding-bottom: percentage(63/200);
            }
            > div.text {
                position: absolute;
                left: 0;
                top: 45%;
                transform: translateY(-50%);

                width: 100%;
            }
        }

        > div.line {
            opacity: 0;

            transform: translateX(5%);
        }

        div.all-text {
            font-size: 24px;
            line-height: 24px;
            padding: 0 2%;
        }
    }


}