




#mobile-backgrounds {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    display: none;
    z-index: 1;

    > div {
        position: absolute;

        width: 100%;
        height: 100%;

        top: 0;
        left: 0;

        background-size: cover;
        background-repeat: no-repeat;
        background-position: bottom center;

        &.front {
            background-image: url('../assets/img/foreground_trees.png');

            z-index: 2;
        }
        &.middle {
            background-image: url('../assets/img/midground.png');

            z-index: 1;
        }
        &.back {
            background-image: url('../assets/img/site_bg.jpg');

            z-index: 0;
        }
    }
}



#content div.mobile {
    display: none;
}
#content.mobile {
    height: auto;

    > div.empty-space {
        padding-bottom: percentage(1136/640);
    }

    div.mobile {
        display: block;
    }

    // ==================================================================== //
    /* ****************************** Header ****************************** */
    // ==================================================================== //
    #header {
        height: auto;
        background-size: auto 100%;
        padding: 0;

        > div.full-relative > div.empty-space {
            padding-bottom: 29%;
        }

        .in-theaters {
            display: none;
        }

        div.social {
            width: 100%;
            padding: 0 percentage(11/538);
            top: 46%;

            div.fb-like {
                position: absolute;
                left: 7px;
                bottom: 142%;

                transform: scale(0.65);
                transform-origin: center left;

            }

            > a {
                margin-right: 0;
                font-size: 11px;
                border-radius: 3px;

                &.showtimes {
                    float: left;
                }
                &.trailer {
                    float: right;
                    padding-left: 8px;
                    padding-right: 8px;
                }
            }

        }

        .logo {
            width: 44%;
            bottom: 25%;

            background-position: 76% 50%;
        }
    }

    // ==================================================================== //
    /* ****************************** Footer ****************************** */
    // ==================================================================== //
    #footer {
        a.volume {
            display: none;
        }

        div.counter {
            width:100%;
            padding: 0 5.5%;
            padding-bottom: 3%;

            .dot {
                width: 7.5%;
                margin-right: 5.71%;

                &:last-child {
                    margin-right: 0;
                }

                div.number {
                    font-size: 14px;
                }
            }
        }
    }


    // ==================================================================== //
    /* **************************** Intro Stuff *************************** */
    // ==================================================================== //

    #intro-view div.begin-screen {
        a.begin {
            margin-top: 9%;
            font-size: 20px;
            width: 38%;
        }

        > div.line {
            display: none;
        }
    }


    // ==================================================================== //
    /* *************************** Page Navigation ************************ */
    // ==================================================================== //

    div.pages-ctn div.page-nav {
        width: percentage(125/320);

        a.finish-send {
            width: percentage(240/175);
            left: percentage(-(240/175 - 1)/2);

            font-size: 22px;
        }

        a.next {
            width: 100%;
            font-size: 22px;
        }

        div.skip {
            width: 100%;
            margin-top: 5px;

            a.skip {
                width: 100%;
                height: 100%;
                font-size: 14px;
                line-height: 21px;

                border-radius: 4px;
            }
        }
    }

    div.page {
        width: 90%;
        padding-top: percentage(74/320);
    }

    // ==================================================================== //
    /* ************************ Enter Your Name Page ********************** */
    // ==================================================================== //
    div.page.name {

        .input-wrapper {
            height: 45px;
        }

        div.title {
            font-size: 24px;
            line-height: 24px;
            margin-bottom: 7%;
        }

        input[type="text"] {
            width: 85%;
            margin: 0 auto;
            display: block;
            border-radius: 7px;
        }

        div.placeholder {
            font-size: 22px;
        }
    }

    // ==================================================================== //
    /* *************************** Question Pages ************************* */
    // ==================================================================== //
    div.question {
        width: 70%;

        div.copy {
            font-size: 22px;
            line-height: 22px;
            margin-bottom: 6%;
        }

        div.option {
            width: 50%;

            padding: 7% 11.5%;



            div.text {
                font-size: 14px;
                width: 200%;

                left: 50%;
                transform: translateX(-50%);
            }
        }
    }

    div.question.character-select {
        width: 90%;

        div.option {
            padding: 7% 14.5%;
        }
    }

    // ==================================================================== //
    /* *************************** Canned Question ************************ */
    // ==================================================================== //

    div.question.canned {
        > div.full-relative {
            padding-top: 30%;
        }

        div.option {
            padding: 0;
            width: 119%;

            position: relative;
            left: 50%;
            transform: translateX(-50%);

            background-repeat: no-repeat;

            div.text {
                transform: translate(-50%, -50%);
            }
        }
    }

    // ==================================================================== //
    /* *************************** Page Navigation ************************ */
    // ==================================================================== //

    #response {
        padding-top: 31%;
        padding-left: 5.5%;
        padding-right: 5.5%;

        #card-wrap {
            position: relative;
            top: 0;
            left: 0;

            width: 100%;
            height: auto;

            padding: 5%;
            padding-top: 10%;

            transform: none;


            #card-greeting {
                font-size: 21px;
                margin-bottom: 2%;
            }

            #card-body {
                font-size: 11px;
                line-height: 16px;
                margin-bottom: 2%;
                letter-spacing: -.1px;
            }

            #card-sincerely {
                font-size: 14px;
                margin-bottom: 1%;
            }

            #card-from {
                width: 65%;
            }

            #printversion {
                display: none;
            }

            #sendmore {
                height: auto;
                width: 72%;
                bottom: initial;
                top: 100%;

                background-repeat: no-repeat;

                > div.empty-space {
                    padding-bottom: percentage(51/300);
                }
            }
        }
    }






}



#letterbg-ctr {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    padding-top: 31%;
    padding-left: 5.5%;
    padding-right: 5.5%;

    z-index: 2;

    &.active {
        div.background {
            display: block;
        }
    }

    div.background {
        background: url('../assets/img/response_letter_bg.jpg') no-repeat top center;
        background-size: 100% auto;

        height: 100%;

        display: none;
    }
}


#mobile-characters {
    top: 0;
    left: 0;
    z-index: 2;


    div.character {
        position: absolute;
        display: none;
        background-position: center center;
        background-size: contain;


        &.front {
            z-index: 3;
        }
        &.active {
            display: block;
        }
        &.flip {
            -moz-transform: scaleX(-1);
            -o-transform: scaleX(-1);
            -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
            filter: FlipH;

            -ms-filter: "FlipH";
        }

        &.dipper {
            background-image: url('../assets/spritesheets/dipper/Dipper_00000.png');

            width: 85%;
            top: 5.7%;
            left: 38%;

            &.selected {
                top: 11.7%;
                left: -26%;

                &.response {
                    left: 17%;
                    top: 9%;
                    transform: rotate(15deg);
                }
            }

            &.team {
                -moz-transform: scaleX(-1);
                -o-transform: scaleX(-1);
                -webkit-transform: scaleX(-1);
                transform: scaleX(-1);
                filter: FlipH;

                -ms-filter: "FlipH";

                left: -8%;
                width: 41%;
                top: 24%;

                &.response {
                    left: -6%;
                    width: 51%;
                    top: 8%;
                }
            }

            > div.empty-space {
                padding-bottom: percentage(510/960);
            }
        }
        &.bladeranger {
            background-image: url('../assets/spritesheets/blade/Guide_BladeRanger_body_970x600_00000.png');

            width: 85%;
            top: 8.7%;
            left: 48%;
            &.response {
                width: 91%;
                top: 4%;
                left: 23%;
            }


            &.team {
                width: 79%;
                top: 35.7%;
                left: 48%;

                &.response {
                    width: 62%;
                    top: 5%;
                    left: 62%;
                }
            }



            > div.empty-space {
                padding-bottom: percentage(371/600);
            }
        }
        &.cabbie {
            background-image: url('../assets/spritesheets/cabbie/Cabbie_00000.png');

            width: 85%;
            top: 23.7%;
            left: -25%;

            &.response {
                top: 10%;
                left: 21%;

                -moz-transform: scaleX(-1)  rotate(12deg);
                -o-transform: scaleX(-1)  rotate(12deg);
                -webkit-transform: scaleX(-1) rotate(12deg);
                transform: scaleX(-1) rotate(12deg);
                filter: FlipH;

                -ms-filter: "FlipH";
            }

            > div.empty-space {
                padding-bottom: percentage(498/960);
            }
        }
        &.cabbie2 {
            background-image: url('../assets/spritesheets/cabbie2/Cabbie_2_000000.png');

            &.team {
                width: 23%;
                left: 0;
                top: 46%;
                opacity: 0.8;

                transform: rotate(-8deg);

                &.response {
                    width: 24%;
                    left: 46%;
                    top: 10%;
                }
            }

            > div.empty-space {
                padding-bottom: percentage(380/750);
            }
        }


        &.windlifter {
            background-image: url('../assets/spritesheets/windlifter/Guide_Windlifter_body_970x600_00000.png');

            width: 75%;
            top: 19.7%;
            left: -23%;

            &.team {
                -moz-transform: scaleX(-1);
                -o-transform: scaleX(-1);
                -webkit-transform: scaleX(-1);
                transform: scaleX(-1);
                filter: FlipH;

                -ms-filter: "FlipH";

                left: 3%;
                top: 16%;
                width: 18%;
                opacity: 0.75;

                &.response {
                    left: -7%;
                    top: 20%;
                }
            }

            > div.empty-space {
                padding-bottom: percentage(371/600);
            }
        }

        &.dusty {
            background-image: url('../assets/spritesheets/dusty/Dusty_plane_00000.png');

            top: 30%;
            width: 51%;
            left: -11.5%;

            > div.empty-space {
                padding-bottom: percentage(492/600);
            }
        }

        &.dusty2 {
            background-image: url('../assets/spritesheets/dusty3/Dusty_plane5_000000.png');

            &.team.response {
                width: 43%;
                top: 15%;
                left: 41%;
            }

            &.response {
                width: 52%;
                top: 13%;
                left: 34%;
            }

            > div.empty-space {
                padding-bottom: percentage(360/600);
            }
        }

        &.dusty3 {
            background-image: url('../assets/spritesheets/dusty4/Dusty_angle1_noBlink_00000.png');

            top: 19%;
            left: -1%;
            width: 44%;
            transform: rotate(32deg);

            &.team {
                left: 61%;
                top: 21%;
            }

            > div.empty-space {
                padding-bottom: percentage(341/600);
            }
        }










        &.parachuter1 {
            background-image: url('../assets/img/drip.png');

            width: 10%;
            top: 60.5%;
            left: 15%;

            > div.empty-space {
                padding-bottom: percentage(94/61);
            }
        }

        &.parachuter2 {
            background-image: url('../assets/img/dynamite.png');

            width: 10%;
            top: 14%;
            left: 45%;
            opacity: 0.4;

            > div.empty-space {
                padding-bottom: percentage(94/61);
            }
        }

        &.parachuter3 {
            background-image: url('../assets/img/blackout.png');

            width: 10%;
            top: 50%;
            left: 75%;
            opacity: 0.75;

            > div.empty-space {
                padding-bottom: percentage(94/61);
            }
        }



    }
}