

div.page {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;

    z-index: 10;

    margin: auto;

    width: 609px;

    transform: translateY(-50%);

    display: none;
    &.active {
        display: block;
    }
}



$blue: rgba(179, 209, 233, 0.35);




div.page.name {
    .input-wrapper {
        height: 95px;
        width: 100%;
    }

    div.title {
        position: absolute;
        bottom: 100%;

        width: 100%;

        text-align: center;

        font-size: 36px;
        line-height: 36px;

        margin-bottom: 53px;

        color: white;

        -webkit-font-smoothing: antialiased;

        text-shadow: 1px 1px 2px rgba(0,0,0,0.2), -1px -1px 2px rgba(0,0,0,0.2);
    }

    input[type="text"] {
        border: 0px solid;

        padding: 0;
        margin: 0;

        height: 100%;
        width: 100%;

        background-color: $blue;

        border-radius: 15px;

        font-size: 20px;
        text-align: center;

        box-shadow: inset 0px 0px 8px 0px rgba(0, 0, 0, 0.2);

        &:focus {
            outline: 0;
        }

        $placeholderColor: #FFFFFF;
        &::-webkit-input-placeholder { /* WebKit browsers */
            color: $placeholderColor;
        }
        &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
            color: $placeholderColor;
            opacity: 1;
        }
        &::-moz-placeholder { /* Mozilla Firefox 19+ */
            color: $placeholderColor;
            opacity: 1;
        }
        &:-ms-input-placeholder { /* Internet Explorer 10+ */
            color: $placeholderColor;
        }
    }
}





div.page.question {
    color: white;

    div.copy {
        text-align: center;

        font-size: 31px;
        margin-bottom: 35px;
    }

    div.options {
        width: 100%;
    }

    div.option {
        float: left;

        height: 203px;
        width: 203px;

        padding: 40px;

        input {
            display: none;
        }

        label {
            display: block;
            cursor: pointer;
            z-index: 2;
        }

        div.background {
            width: percentage(450/166);
            height: percentage(400/166);

            position: absolute;
            top: 50%;
            left: 50%;

            z-index: 1;

            transform: translate(-50%, -50%);

            background: no-repeat center center;
            background-size: contain;
        }

        div.text {
            position: absolute;
            left: 0;
            bottom: 100%;

            width: 100%;

            text-align: center;
            text-transform: uppercase;
            font-size: 18px;

            padding-bottom: 4px;
        }

        div.box-shadow {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;

            margin: auto;

            height: 95%;
            width: 95%;

            box-shadow: none;

            -webkit-backface-visibility: hidden;

            transition: box-shadow 0.2s ease-in-out;
        }
        input[type=radio]:checked ~ div.box-shadow {
            box-shadow: 0px 0px 30px 0px rgba(255, 255, 255, 0.8);
        }
    }





}





#dusty ~ div.background {
    background-image: url('../assets/img/icons/dusty.png');
}

#bladeranger ~ div.background {
    background-image: url('../assets/img/icons/blade_ranger.png');
}

#cabbie ~ div.background {
    background-image: url('../assets/img/icons/cabbie.png');
}
#dipper ~ div.background {
    background-image: url('../assets/img/icons/dipper.png');
}
#windlifter ~ div.background {
    background-image: url('../assets/img/icons/windlifter.png');
}
#team ~ div.background {
    background-image: url('../assets/img/icons/the_team.png');
}










