

div.page {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    margin: auto;

    width: 540px;
    height: 100%;

    display: none;

    &.active {
        display: block;
    }
}









div.page.name {

}