

div.page {
    position: absolute;
    right: 0;
    top: 0;

    padding-top: 10%;

    z-index: 10;

    margin: auto;

    width: 54%;
    max-width: 679px;

    left: 200%;
    visibility: hidden;
    &.active {
        left: 0;
        visibility: visible;
    }
}



$blue: rgba(179, 209, 233, 0.35);



div.page.name {
    padding-top: 0;
    top: 50%;
    transform: translateY(-50%);

    .input-wrapper {
        height: 95px;
        width: 100%;
    }

    div.title {
        position: absolute;
        bottom: 100%;

        width: 100%;

        text-align: center;

        font-size: 36px;
        line-height: 36px;

        margin-bottom: 53px;

        color: white;

        -webkit-font-smoothing: antialiased;

        text-shadow: 1px 1px 2px rgba(0,0,0,0.2), -1px -1px 2px rgba(0,0,0,0.2);
    }

    input[type="text"] {
        border: 0px solid;

        padding: 0;
        margin: 0;

        height: 100%;
        width: 100%;

        background-color: $blue;

        border-radius: 15px;

        font-size: 20px;
        text-align: center;

        box-shadow: inset 0px 0px 8px 0px rgba(0, 0, 0, 0.2);

        &:focus {
            outline: 0;
        }

        $placeholderColor: #FFFFFF;
        &::-webkit-input-placeholder { /* WebKit browsers */
            color: $placeholderColor;
        }
        &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
            color: $placeholderColor;
            opacity: 1;
        }
        &::-moz-placeholder { /* Mozilla Firefox 19+ */
            color: $placeholderColor;
            opacity: 1;
        }
        &:-ms-input-placeholder { /* Internet Explorer 10+ */
            color: $placeholderColor;
        }
    }

    div.placeholder {
        position: absolute;
        top: 46%;
        left: 50%;

        transform: translate(-50%, -50%);
        color: white;

        z-index: -1;

        font-size: 28px;
    }
}










