#pixi-intro, #pixi-view {
    position: absolute;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    margin: auto;

    width: 100%;
    height: 100%;
}


#pixi-view {
    z-index: 1;

    &.front {
        z-index: 10;
    }

    &.middle {
        z-index: 4;
    }
}


#pixi-intro {
    z-index: 49;
}
