


div.question {
    color: white;

    div.copy {
        text-align: center;

        font-size: 35px;
        margin-bottom: 35px;
        line-height: 36px;

        white-space: nowrap;
    }

    div.options {
        width: 100%;
    }

    div.option {
        float: left;

        width: percentage(223/679);

        padding-left: percentage(50/679);
        padding-right: percentage(50/679);
        padding-top: percentage(30/679);
        padding-bottom: percentage(30/679);


        .full-relative {
            div.content {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }

            > .empty-space {
                padding-bottom: 100%;
            }

        }


        input {
            display: none;
        }

        label {
            display: block;
            cursor: pointer;
            z-index: 5;
        }

        div.background {
            width: 100%;
            height: 100%;

            position: absolute;
            top: 50%;
            left: 50%;

            z-index: 1;

            transform: translate(-50%, -50%);

            background: no-repeat center center;
            background-size: contain;
            background-image: url('../assets/img/150x150.gif');
        }

        div.text {
            position: absolute;
            left: 0;
            bottom: 100%;

            width: 100%;

            text-align: center;
            text-transform: uppercase;
            font-size: 18px;

            padding-bottom: 4px;

            white-space: nowrap;
        }

        div.box-shadow {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;

            margin: auto;

            height: 98%;
            width: 98%;
            border-radius: 10px;

            box-shadow: none;

            -webkit-backface-visibility: hidden;

            transition: box-shadow 0.2s ease-in-out;
        }
        input[type=radio]:checked ~ div.box-shadow {
            box-shadow: 2px 2px 15px 0px rgba(255, 255, 255, 0.8),
            -2px -2px 15px 0px rgba(255, 255, 255, 0.8);
        }
    }
}

// =================================================================== //
/* ************************ Canned Questions ************************* */
// =================================================================== //

div.question.canned {


    div.copy {
        margin-bottom: 70px;

        white-space: normal;
    }
    div.option {
        width: percentage(500/679);

        padding: 0;
        float: none;

        margin: 0 auto;
        margin-bottom: percentage(27/679);
        &:last-child {
            margin-bottom: 0;
        }

        .full-relative >.empty-space {
            padding-bottom: percentage(53/500);
        }


        div.background {
            background-image: url('../assets/img/icons/canned-btn.png');
        }

        div.text {
            color: white;

            font-size: 25px;
            text-shadow: none;

            z-index: 2;
            bottom: auto;

            top: 50%;
            transform: translateY(-50%);
            padding: 0;
        }
    }

}



















// =================================================================== //
/* **************************** Specifics **************************** */
// =================================================================== //

div.question.character-select, div.question.favorite-sport, div.question.favorite-color, div.question.favorite-food  {
    div.option div.background {
        width: percentage(450/166);
        height: percentage(400/166);
    }
}





#dusty ~ div.background {
    background-image: url('../assets/img/icons/dusty.png');
}

#bladeranger ~ div.background {
    background-image: url('../assets/img/icons/blade_ranger.png');
}

#cabbie ~ div.background {
    background-image: url('../assets/img/icons/cabbie.png');
}
#dipper ~ div.background {
    background-image: url('../assets/img/icons/dipper.png');
}
#windlifter ~ div.background {
    background-image: url('../assets/img/icons/windlifter.png');
}
#team ~ div.background {
    background-image: url('../assets/img/icons/the_team.png');
}


#red ~ div.background {
    background-image: url('../assets/img/icons/red.png');
}
#blue ~ div.background {
    background-image: url('../assets/img/icons/blue.png');
}
#yellow ~ div.background {
    background-image: url('../assets/img/icons/yellow.png');
}
#orange ~ div.background {
    background-image: url('../assets/img/icons/orange.png');
}
#green ~ div.background {
    background-image: url('../assets/img/icons/green.png');
}
#purple ~ div.background {
    background-image: url('../assets/img/icons/purple.png');
}


#pizza ~ div.background {
    background-image: url('../assets/img/icons/pizza.png');
}
#icecream ~ div.background {
    background-image: url('../assets/img/icons/icecream.png');
}
#broccoli ~ div.background {
    background-image: url('../assets/img/icons/broccoli.png');
}
#frenchfries ~ div.background {
    background-image: url('../assets/img/icons/fries.png');
}
#chickennuggets ~ div.background {
    background-image: url('../assets/img/icons/nuggets.png');
}
#pbj ~ div.background {
    background-image: url('../assets/img/icons/pbj.png');
}


#football ~ div.background {
    background-image: url('../assets/img/icons/football.png');
}
#baseball ~ div.background {
    background-image: url('../assets/img/icons/baseball.png');
}
#hockey ~ div.background {
    background-image: url('../assets/img/icons/hockey.png');
}
#swimming ~ div.background {
    background-image: url('../assets/img/icons/swim_dive.png');
}
#soccer ~ div.background {
    background-image: url('../assets/img/icons/soccer.png');
}
#racing ~ div.background {
    background-image: url('../assets/img/icons/racing.png');
}