


#response {
    display: none;
    z-index: 5;
    top: 0;
    left: 0;
    padding-top: 200px;
    text-align: center;
    color: white;

    #card-wrap{
      
      width:768px;
      height:386px;
      left:50%;
      position:absolute;
      transform: translateX(-50%);
      padding:63px 40px 0 40px;
      color:#000;
      text-align:left;
      
      #letterbg{
        position:absolute;
        top:0;
        left:0;
      }
      
      #card-greeting{
        font-size:35px;
        margin-bottom:15px;
        span{
          text-transform: uppercase;
        }
      }
      
      #card-body{
        font-family: 'Helvetica';
        font-size:15px;
        line-height:18px;
        margin-bottom:15px;
      }
      
      #card-sincerely{
        text-align:center;
        span{
          text-transform: capitalize;
        }
      }
      
      #card-from{
        text-align:center;
        font-size:35px;
      }
      
      #printversion{
        background: url('../assets/img/print.png');
        position:absolute;
        left:45px;
        bottom:30px;
        height:28px;
        width:177px;
        display:block;
      }
      
      #sendmore{
        background: url('../assets/img/sendMore.png');
        position:absolute;
        left:50%;
        transform: translateX(-50%);
        height:51px;
        width:300px;
        display:block;
        bottom:-75px;
      }
    }
}


#response-bg {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: center center no-repeat;
    background-size: cover;
    background-color: white;

    display: none;

    &.dusty {
        background-image: url('../assets/img/response_bg_dusty.jpg');
    }
    &.cabbie {
        background-image: url('../assets/img/response_bg_cabbie.jpg');
    }
    &.bladeranger {
        background-image: url('../assets/img/response_bg_blade.jpg');
    }
    &.dipper {
        background-image: url('../assets/img/response_bg_dipper.jpg');
    }
    &.windlifter {
        background-image: url('../assets/img/response_bg_windlifter.jpg');
    }
    &.team {
        background-image: url('../assets/img/response_bg_team.jpg');
    }
}



@media print {
  #response-bg{
    background:#fff;
    background-image:none !important;
  }

  #printversion, #sendmore, .social, .volume{
    display:none !important;
  }
}

