*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;

    margin: 0;
    padding: 0;

    overflow: hidden;
}



.full-relative {
    height: 100%;
    width: 100%;

    position: relative;
}
.full-absolute {
    height: 100%;
    width: 100%;

    position: absolute;
}

body {
    background: url('../assets/img/background.png') no-repeat center center;
    background-size: cover;
}

// ============================================================ //
/* ************************* Imports ************************** */
// ============================================================ //


@import '_header';
@import '_content';
@import '_introView';
@import '_page';