/* @import must be at top of file, otherwise CSS will not work */
@import url("//hello.myfonts.net/count/2b4021");

@font-face {font-family: 'PAGRevolucion';src: url('webfonts/2B4021_0_0.eot');src: url('webfonts/2B4021_0_0.eot?#iefix') format('embedded-opentype'),url('webfonts/2B4021_0_0.woff') format('woff'),url('webfonts/2B4021_0_0.ttf') format('truetype');}


*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
    *zoom: 1;
}

.full-relative {
    height: 100%;
    width: 100%;

    position: relative;
}
.full-absolute {
    height: 100%;
    width: 100%;

    position: absolute;
}

html, body {
    height: 100%;
    width: 100%;

    margin: 0;
    padding: 0;

    overflow: initial;

    font-family: PAGRevolucion, Helvetica, Arial, sans-serif;

    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2), -1px -1px 2px rgba(0, 0, 0, 0.2);
}

body {
    background-color: #000000;
}

// ============================================================ //
/* ********************** Asset Loader ************************ */
// ============================================================ //


#assetLoader {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    z-index: 100;

    background-color: #08090b;

    div.bar {
        background-color: #C2001B;
        width: 0;
        height: 15px;

        position: absolute;
        top: 0;
        left: 0;

        div.text {
            position: absolute;
            top: 100%;
            right: 6px;

            color: white;
            font-size: 24px;
        }
    }

}

// ============================================================ //
/* ********************* password Screen ********************** */
// ============================================================ //


#passwordScreen {
    display: none;

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    z-index: 101;

    background-color: #08090b;
    color: white;
    font-size: 20px;


    .content {
        position: absolute;
        top: 50%;
        left: 50%;

        transform: translate(-50%, -50%);
    }
}

// ============================================================ //
/* ************************* Imports ************************** */
// ============================================================ //


@import '_headerFooter';
@import '_content';
@import '_introView';
@import '_page';
@import '_question';
@import '_response';
@import '_pixi';
@import '_mobile';
