
<div class="full-relative">
    <div class="viewport top">
        <div class="background-color top">
            <div class="full-relative"></div>
        </div>
        <div class="background-color left">
            <div class="full-relative"></div>
        </div>
        <div class="background-color right">
            <div class="full-relative"></div>
        </div>
    </div>
    <div class="viewport bottom">
        <div class="background-color bottom">
            <div class="full-relative"></div>
        </div>
        <div class="background-color left">
            <div class="full-relative"></div>
        </div>
        <div class="background-color right">
            <div class="full-relative"></div>
        </div>
    </div>

    <div class="video-ctn">
        <div class="empty-space"></div>
        <video>
            <source src="assets/video/comingAtYou_reference.m4v">
        </video>
    </div>



</div>