
<div class="full-relative">
    <div class="top border">
        <div class="full-relative"></div>
    </div>
    <div class="left border">
        <div class="full-relative"></div>
    </div>
    <div class="right border">
        <div class="full-relative"></div>
    </div>
    <div class="bottom border">
        <div class="full-relative"></div>
    </div>
</div>