



<div class="full-relative">
    <div class="input-wrapper">
        <div class="full-relative">
            <div class="title">
                <div class="line">TIME TO START YOU ENGINES!</div>
                <div class="line">TELL US YOUR FIRST NAME!</div>
            </div>
            <input type="text" name="name" placeholder="MY NAME IS"/>
        </div>
    </div>
</div>
